table {
    width: 100%;
}

table, td, th {
    border:          1px solid black;
    border-collapse: collapse;
}

th, .celda_titulo {
    background-color: #E0E0E0;
    font-family:      Noto Mono, sans-serif;
    font-weight:      700;
}

#td_sin_productos {
    font-style: oblique;
}

table input {
    box-sizing: border-box;
    width: 100%;
}

.boton_en_celda {
    font-weight: 700; 
    height:      100%; 
    width:       100%;
}

select {
    background-color: #E0E0E0;
    font-family:      Noto Mono, sans-serif;
    font-weight:      700;
    text-align:       center;
    text-align-last:  center;
    height:           100%;
    width:            100%;
}