<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compras</title>
    <link rel="stylesheet" type="text/css" href="css/productos.css">
</head>
<body>
    <div id="vue">
        <!-- Control de sesiones de usuario -->
        <manejo-sesion @id="obtener_id_usuario($event)"></manejo-sesion>
        
        <br>

        <template v-if="error">
            <!-- No se pudo obtener una conexión con la base de datos, y no se 
                 pueden consultar los productos -->
            <b>Error</b> {{ error }}
        </template>

        <template v-else>
            <table>
                <thead>
                    <tr><td colspan="100%"><input id="input_filtro" placeholder="Filtrar" v-model="filtro"></td></tr>
                    <tr><th colspan="100%">Productos</th></tr>
                    <tr>
                        <th>
                            <select v-model="categoria_seleccionada">
                                <option value="">Categoría</option>
                                <option v-for="categoria in categorias">{{ categoria.nombre }}</option>
                            </select>
                        </th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="productos.length <= 0">
                        <td id="td_sin_productos" colspan="100%">No hay productos que coincidan.</td>
                    </tr>
                    <tr v-for="producto in productos" :key="producto.id">
                        <td>{{ producto.categoria }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.precio }}</td>
                        <td><button class="boton_en_celda" @click="agregar_carrito(producto)">Agregar al carrito</button></td>
                    </tr>
                </tbody>
            </table>

            <br>

            <template v-if="carrito.length > 0">
                <table>
                    <thead>
                        <tr><th colspan="100%">Carrito</th></tr>
                        <tr>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(producto, i) in carrito" :key="i">
                            <td>{{ producto.descripcion }}</td>
                            <td><input type="number" min="1" v-model="producto.cantidad"></td>
                            <td>{{ producto.precio * producto.cantidad | filtro_precio }}</td>
                            <td><button class="boton_en_celda" @click="quitar(i)">X</button></td>
                        </tr>
                        <tr>
                            <td class="celda_titulo">Total</td>
                            <td class="celda_titulo" colspan="100%">$ {{ total_compra | filtro_precio }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <button @click="comprar">Comprar</button>
                <template v-if="error_compra">
                    <span><b>Error</b>: {{ error_compra }}</span>
                </template>
                <br>
            </template> <!-- v-if="carrito.length > 0" -->
        </template> <!-- v-else -->

        <button @click="volver">Volver</button><br>
    </div> <!-- #vue -->
    
    <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="vue/manejo-sesion.js"></script>
    <script src="js/productos.js"></script>
</body>
</html>